@model HotelSearchResponseVMOperationResult

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@if (Model != null)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Id</td>
            <td>Hotel</td>
            <td>MinPrice</td>
            <td>MaxPrice</td>
        </tr>
        </thead>
        <tbody>
        @if (Model.Data != null)
        {
            @foreach (var item in Model.Data.Results)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.MinPrice.Price</td>
                    <td>@item.MaxPrice.Price</td>
                </tr>
            }
        }
        </tbody>
    </table>
}