
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@model HotelSearchRequestVM
<h1>Search Hotel </h1>

@using (Html.BeginForm("SearchHotel", "Hotel", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-6"></div>
        <form asp-action="Index" method="post" asp-controller="Hotel">
            <div class="form-group">
                <label asp-for="LocationId"></label>
                <input asp-for="LocationId" class="form-control" />
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckIn"></label>
                <input asp-for="CheckIn" class="form-control" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOut"></label>
                <input asp-for="CheckOut" class="form-control" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn-primary" />
            </div>
        </form>
    </div>
}