
@{
    ViewData["Title"] = "Index";
}

@model HotelSearchRequestVM
<h1>Search Hotel </h1>

@using (Html.BeginForm("SearchHotel", "Hotel", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-6"></div>
        <form asp-action="Index" method="post" asp-controller="Hotel">
            <div class="form-group">
                <label asp-for="locationId"></label>
                <input asp-for="locationId" class="form-control" />
                <span asp-validation-for="locationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="checkIn"></label>
                <input asp-for="checkIn" class="form-control" />
                <span asp-validation-for="checkIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="checkOut"></label>
                <input asp-for="checkOut" class="form-control" />
                <span asp-validation-for="checkOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn-primary" />
            </div>
        </form>
    </div>
}


<partial name="SearchHotel" />